.nav{
  margin-top: 10px;
  .nav-link{
    color: #0E4E4A;
    font-size: 14px;
    font-family: "Century Gothic", Arial, sans-serif;
    font-weight: 600;
    .contact-icon{
      margin-right: 5px;
    }
  }
}
