.product-card-wrapper{
  display: flex;
  flex-direction: column;
  height: 360px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: lightslategrey 3px 1px 10px 1px;
  max-width: 50%;
  min-width: 10%;
  width: 20vw;
  flex-wrap: wrap;
}

.card-media{
  height: 150px;
  width: 100%;
  position: relative;
  .card-image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
  }

  .discount-badge{
    position: absolute;
    top: 2px;
    right: 3px;
    background-color: orangered;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
  }

  .new-badge{
    position: absolute;
    font-weight: bold;
    background-color: #07bc0c;
    left: 3px;
    top: 2px;
    border-radius: 10px;
    padding: 7px ;
    color: wheat;
    font-size: 12px;
    text-transform: uppercase;

  }
}

.card-body{
  display: flex;
  flex-direction: column;
  .card-title{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    &:hover{
      text-decoration: underline;
    }

  }
  .card-price{
   align-self: end;
    font: 18px Oswald;
    font-weight: 500;
  }

  .card-old-price{
    align-self: end;
    color: gray;
    font-size: 15px;
    text-decoration: line-through;
  }
}

.card-bottom{
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;

  .heart-icon{
    cursor: pointer;
    &:hover{
      color: red;
    }
  }

  .cart-icon{
    background: rgba(123, 144, 34, .8);
    width: 40%;
    border-radius: 5px;
    cursor: pointer;
    color: wheat;

    &:hover{
      color: black;
      background: rgba(123, 144, 34, 1);
    }
  }
}