.slider-wrapper{
  height: 400px;
  width: 100%;
  padding: 10px 0px;
  overflow: hidden;
}

.slider-inner{
  height: 100%;
  width: 100%;
  position: relative;
  cursor: grab;

}

.slider-item{
  width: 33.33%;
  height: 100%;
  padding: 30px;
  position: absolute;

}
.slider-photo{
  height: 100%;
  width: 100%;
  pointer-events: none;
  box-shadow: 2px 2px 15px 4px black;
  border-radius: 20px;
  position: relative;

}

.title{
  position: absolute;
  bottom: 10%;
  left: 7%;
  width: 86%;
  z-index: 1;
  background-color: rgba(0,0,1, 0.3);
  text-align: center;
  height: 25%;
  font-family: Oswald, sans-serif;
  font-size: 2rem;
  color: wheat;
}

@media screen and (max-width: 500px){
  .slider-wrapper{
    height: 400px;
    padding: 0;
  }

  .slider-inner{
    height: 100%;
    width: 100%;
    position: relative;
    cursor: grab;

  }

  .slider-item{
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;

  }
  .slider-photo{
    height: 100%;
    width: 100%;
    pointer-events: none;
    box-shadow: 2px 2px 15px 4px black;
    border-radius: 20px;
    position: relative;

  }

  .title{
    position: absolute;
    bottom: 5%;
    left: 7%;
    width: 86%;
    z-index: 1;
    background-color: rgba(0,0,1, 0.3);
    text-align: center;
    height: 25%;
    font-size: 23px;

  }
}