
.add-product-icon{
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.headline{
  width: 100%;
  background: rgba(123, 144, 34, 0.7);
  color: black;
  font-family: 'Oswald', serif;
  text-align: center;
  padding: 10px 0px;
  font-size: 2rem;
}

